@use "../../../../../public/styles/responsive-points.scss" as *;
@use "../../../../../public/styles/all-styles.scss" as *;
.colleague-card {
  position: relative;
  width: 100%;
  max-width: 51.2rem;
  height: 32rem;
  background-image: url("../../../../../public/assets/Design material/01_Background/Design Size Relation@3x/colleague-card.png");
  background-repeat: no-repeat;
  @include display-flex(column, space-between, stretch);

  .text-box {
    padding: 4rem;
    p {
      font-size: 1.8rem;
    }
  }

  .bottom-box {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    z-index: 10;
    .name-box {
      display: flex;
      flex-direction: column;

      .name {
        font-size: 2rem;
        font-weight: bold;
      }

      .title {
        font-size: 1.6rem;
      }
    }
    .link-box {
      display: flex;
      align-items: flex-end;
      gap: 0.5rem;
      color: var(--color-dark);

      cursor: pointer;
      span {
        font-size: 1.8rem;
      }
    }
    .link-box:hover {
      color: var(--color-white);
    }
  }
}
.hover-image {
  position: absolute;
  width: 100%;
  max-width: 51.2rem;
  height: 32rem;
  z-index: -100;
}
.colleague-card:hover {
  .text-box {
    z-index: 10;
  }
  .hover-image {
    z-index: 1;
    opacity: 0.5;
  }
  .name-box {
    z-index: 10;
    color: var(--color-white);
  }
}

@include tablet {
  .colleague-card {
    width: 41rem;
    height: 40rem;
    background-image: url("../../../../../public/assets/Design material/01_Background/Design Size Relation@3x/colleague-card_mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
  }

  .hover-image {
    width: 100%;
  }
}

@include mobile {
  .colleague-card {
    width: 36rem;

    background-image: url("../../../../../public/assets/Design material/01_Background/Design Size Relation@3x/colleague-card_mobile_1.png");

    .text-box {
      p {
        font-size: 1.6rem;
      }
    }
  }
}
