@use "../../../../../public/styles/responsive-points.scss" as *;
@use "../../../../../public/styles/all-styles.scss" as *;
.colleague-card {
  position: relative;
  width: 100%;
  max-width: 51.2rem;
  aspect-ratio: 16 / 10;
  @include display-flex(column, space-between, stretch);
  box-sizing: border-box;

  .text-box {
    position: relative;
    z-index: 2;
    padding: 4rem;
    p {
      font-size: 1.8rem;
    }
  }

  .bottom-box {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    z-index: 10;
    position: relative;
    z-index: 2;
    .name-box {
      display: flex;
      flex-direction: column;

      .name {
        font-size: 2rem;
        font-weight: bold;
      }

      .title {
        font-size: 1.6rem;
      }
    }
    .link-box {
      display: flex;
      align-items: flex-end;
      gap: 0.5rem;
      color: var(--color-dark);

      cursor: pointer;
      span {
        font-size: 1.8rem;
      }
    }
    .link-box:hover {
      color: var(--color-white);
    }
  }
}
.colleague-card .bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-position: center;
  z-index: 0;
}
.hover-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: -1;
}
.colleague-card:hover {
  .text-box {
    z-index: 10;
  }
  .hover-image {
    z-index: 1;
    opacity: 0.5;
  }
  .name-box {
    z-index: 10;
    color: var(--color-white);
  }
}

@include tablet {
  .text-box {
    padding: 2rem;
  }
  .colleague-card {
    aspect-ratio: 260 / 120;
  }

  .hover-image {
    width: 100%;
  }
}

@include mobile {
  .colleague-card {
    aspect-ratio: 260 / 120;
    .text-box {
      p {
        font-size: 1.6rem;
      }
    }
  }
}
