@use "../../../../public/styles/all-styles.scss" as *;
@use "../../../../public/styles/responsive-points.scss" as *;
section {
  background-color: #f8f9fa;
  color: #0e1013;

  .section-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 0;
    .head-box {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-right: 10%;

      p {
        font-size: 2rem;
        text-align: end;
        text-transform: uppercase;
      }

      h2 {
        font-size: 6.4rem;
        font-weight: 700;
        text-align: end;
      }

      .draw-line-thoughts {
        position: absolute;
        width: 10rem;
        height: 3.6rem;
        right: 370px;
        top: 0;
        @include draw-animation(draw-thoughts-line, left, $seconds: 8s);
      }
    }
    .cards-box {
      height: 100%;
      min-height: 540px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cards-box > app-colleague-card {
      position: absolute;
      transition: z-index 0s, transform 0.2s;
    }

    .cards-box > app-colleague-card:nth-child(1) {
      z-index: 10;
      bottom: 20%;
      left: 15%;
      transform: rotate(-5deg);
    }
    .cards-box > app-colleague-card:nth-child(2) {
      z-index: 5;
      bottom: 15%;
    }
    .cards-box > app-colleague-card:nth-child(3) {
      z-index: 1;
      bottom: 22%;
      right: 20%;
      transform: rotate(5deg);
    }

    .cards-box > app-colleague-card:hover,
    .cards-box > app-colleague-card:focus-within {
      z-index: 100;
    }
  }

  @include notebook {
    .section-content {
      .cards-box {
        flex-direction: column;
        height: 100%;
        min-height: 1000px;

        .cards-box > app-colleague-card {
          position: relative;
        }
      }
      .cards-box > app-colleague-card:nth-child(1) {
        z-index: 10;
        bottom: -50px;
        left: 5%;
        transform: rotate(5deg);
      }
      .cards-box > app-colleague-card:nth-child(2) {
        z-index: 5;
        bottom: 30%;
        transform: rotate(0deg);
      }
      .cards-box > app-colleague-card:nth-child(3) {
        z-index: 1;
        bottom: 65%;
        left: 5%;
        transform: rotate(-5deg);
      }
    }
  }

  @include mobile {
    .section-content {
      padding: 0;
      .head-box {
        padding-right: 0;
        h2 {
          font-size: 4.8rem;
        }

        .draw-line-thoughts {
          right: auto;
          left: 25%;
          top: 0;
          width: 6rem;
          height: 3.6rem;
        }
      }
      .cards-box > app-colleague-card:nth-child(1) {
        z-index: 10;
        bottom: 10%;
        left: auto;
        transform: rotate(0deg);
      }
      .cards-box > app-colleague-card:nth-child(2) {
        z-index: 5;
        bottom: 35%;
        transform: rotate(0deg);
      }
      .cards-box > app-colleague-card:nth-child(3) {
        z-index: 5;
        bottom: 65%;
        left: auto;
        transform: rotate(0deg);
      }
    }
  }
}
