<section>
  <div class="container">
    <div class="section-content">
      <div class="head-box">
        <img
          class="draw-line-thoughts"
          src="assets/Design material/00_Hand-drawn lines/04_Testimonials/Color option 1.png"
          alt=""
        />
        <p>In their Words:</p>
        <h2>Colleagues Thoughts</h2>
      </div>
      <div class="cards-box">
        @for(c of colleagues; track c.slug){
        <app-colleague-card [colleagueCard]="c"></app-colleague-card>
        }
      </div>
    </div>
  </div>
</section>
