@use "../../../../public/styles/all-styles.scss" as *;
section {
  background-color: #f8f9fa;
  color: #0e1013;
  padding: 5rem;

  .head-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    p {
      font-size: 2rem;
      text-align: end;
      text-transform: uppercase;
    }

    h2 {
      font-size: 6.4rem;
      font-weight: 700;
      text-align: end;
    }

    .draw-line-thoughts {
      position: absolute;
      width: 10rem;
      height: 3.6rem;
      right: 170px;
      top: 0;
      @include draw-animation(draw-thoughts-line, left, $seconds: 8s);
    }
  }
}
