@use "../../../../public/styles/all-styles.scss" as *;
@use "../../../../public/styles/responsive-points.scss" as *;

section {
  background-image: url("../../../../public/assets/Design material/01_Background/Design Size Relation@3x/06_Contact_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: var(--color-white);

  .contact-content {
    display: flex;
    justify-content: space-around;
    padding-top: 15rem;

    .contact-info-box {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .info-head {
        span {
          font-size: 2rem;
          text-transform: uppercase;
        }
        h2 {
          font-size: 6.4rem;
          font-weight: 700;
        }
      }
      .text-box {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 56rem;
        p {
          font-size: 1.8rem;
        }
      }

      .draw-image-box {
        display: flex;
        justify-content: end;
        .draw-line-contact {
          width: 28rem;
          height: 4.4rem;
          @include draw-animation(draw-contact-line, right, $seconds: 8s);
        }
      }
    }

    .contact-formular-box {
      padding: 4rem 0;
      width: 100%;
      max-width: 48rem;
      form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .text {
          width: 100%;
        }

        input,
        textarea {
          padding: 0.5rem 0;
          border-style: none;
          background-color: rgba(14, 16, 19, 0);
          color: var(--color-white);
          font-size: 1.8rem;
        }

        // each input box (name, mail, message)
        .data-box {
          @include display-flex(column, space-between, flex-start);
          gap: 1rem;
          width: 100%;
          height: 6.1rem;
          padding: 1.5rem 0;
          border-bottom: 0.1rem solid var(--color-yellow);

          .question-text {
            font-size: 2.4rem;
          }
          @include mobile {
            .question-text {
              font-size: 2rem;
            }
          }

          textarea::-webkit-scrollbar {
            display: none;
          }

          textarea {
            width: 100%;
            resize: none;
            overflow: auto;
            box-sizing: border-box;
            white-space: pre-wrap;
            word-wrap: break-word;
            line-height: 0.8;
          }
        }

        .data-box:hover {
          .question-text {
            color: var(--color-red);
          }
        }

        // style for check-box policy
        .read-policy-box {
          display: flex;
          align-items: center;
          gap: 1rem;
          font-size: 1.6rem;

          .policy-text {
            .policy {
              color: var(--color-blue);
            }
            .policy:hover {
              color: var(--color-yellow);
            }
          }
          .check-box {
            cursor: pointer;
          }
        }
        // style for send btn
        .select-btn-box {
          @include display-flex(row, flex-end, center);
          gap: 1rem;

          .error-text,
          .valid-text {
            font-size: 1.6rem;
          }
          .send-btn {
            font-size: 1.8rem;
            @include press-button(
              $bg-color: var(--color-dark),
              $bs-color: var(--color-white),
              $color: var(--color-white),
              $b-color: var(--color-white)
            );
          }
        }
      }
    }
  }

  @include notebook {
    .contact-content {
      @include display-flex(column, center, center);

      .contact-info-box {
        .draw-image-box {
          justify-content: start;
        }
      }
    }
  }
  @include mobile {
    .contact-content {
      padding-bottom: 1.6rem;
      .contact-info-box {
        padding: 0 1.6rem;

        .info-head {
          h2 {
            font-size: 4.8rem;
          }
        }
        .text-box {
          p {
            font-size: 1.6rem;
          }
        }
      }
      .contact-formular-box {
        width: auto;
        padding: 0 1.6rem;
      }
    }
  }
}
