<section id="contact-section">
  <div class="container">
    <div class="contact-content">
      <div class="contact-info-box">
        <div class="info-head">
          <span>{{ "CONTACT_SECTION.CONTACT" | translate }}</span>
          <h2>{{ "CONTACT_SECTION.TITLE" | translate }}</h2>
        </div>
        <div class="text-box">
          <p>{{ "CONTACT_SECTION.ROLE_INTEREST" | translate }}</p>
          <p>
            Show interest in contributing to a new project, while highlighting
            the value and skills you can bring to the table.
          </p>
        </div>
        <div class="draw-image-box">
          <img
            class="draw-line-contact"
            src="assets/Design material/00_Hand-drawn lines/05_Contact/Color option 1_1.png"
            alt=""
          />
        </div>
      </div>
      <div class="contact-formular-box">
        <!-- #region Formular -->

        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
          <div>
            <div class="name-box data-box">
              <span class="question-text">{{
                "CONTACT_SECTION.NAME" | translate
              }}</span>
              <input
                [(ngModel)]="contactData.name"
                class="answer-text text"
                type="text"
                id="name"
                name="name"
                placeholder="Your name goes here"
                required
              />
            </div>
            <div class="email-box data-box">
              <span class="question-text">{{
                "CONTACT_SECTION.EMAIL" | translate
              }}</span>
              <input
                #email="ngModel"
                [(ngModel)]="contactData.email"
                class="answer-text text"
                type="email"
                id="email"
                name="email"
                placeholder="youremail&#64;email.com"
                required
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
              />
            </div>
            <div class="message-box data-box">
              <span class="question-text">{{
                "CONTACT_SECTION.HELP" | translate
              }}</span>

              <textarea
                #message="ngModel"
                [(ngModel)]="contactData.message"
                class="message-text text"
                name="message"
                id="message"
                placeholder="Hello Henry, I am interested in..."
                required
              ></textarea>
            </div>
          </div>

          <div class="read-policy-box">
            <input
              class="check-box"
              type="checkbox"
              id="privacyPolicy"
              name="privacyPolicy"
              [(ngModel)]="contactData.acceptedPolicy"
              required
            />

            <span class="policy-text"
              >I've read the <span class="policy">privacy policy</span> and
              agree to the processing of my data as outlined.</span
            >
          </div>
          <div class="select-btn-box">
            <span class="error-text" *ngIf="errorMessage" style="color: red">
              Please fill out all required fields and accept privacy policy.
            </span>
            <span class="valid-text" *ngIf="messageSend"
              >Your message has been sent successfully. Thank you for contacting
              me!</span
            >

            <button class="send-btn" type="submit" value="Submit">Send</button>
          </div>
        </form>

        <!-- #endregion Formular -->
      </div>
    </div>
  </div>
</section>
