<section id="contact-section">
  <div class="container">
    <div class="contact-content">
      <div class="contact-info-box">
        <div class="info-head">
          <span>{{ "CONTACT_SECTION.CONTACT" | translate }}</span>
          <h2>{{ "CONTACT_SECTION.TITLE" | translate }}</h2>
        </div>
        <div class="text-box">
          <p>{{ "CONTACT_SECTION.ROLE_INTEREST" | translate }}</p>
        </div>
        <div class="draw-image-box">
          <img
            class="draw-line-contact"
            src="assets/Design material/00_Hand-drawn lines/05_Contact/Color option 1_1.png"
            alt=""
          />
        </div>
      </div>
      <div class="contact-formular-box">
        <!-- #region Formular -->

        <form
          (ngSubmit)="onSubmit(contactForm)"
          #contactForm="ngForm"
          novalidate
        >
          <div>
            <div
              class="name-box data-box"
              [class.invalid]="
                name.invalid &&
                (name.dirty || name.touched || contactForm.submitted)
              "
            >
              <span class="question-text">{{
                "CONTACT_SECTION.NAME" | translate
              }}</span>
              <input
                #name="ngModel"
                [(ngModel)]="contactData.name"
                (ngModelChange)="handleFormChange()"
                class="answer-text text"
                type="text"
                id="name"
                name="name"
                minlength="2"
                [placeholder]="'CONTACT_SECTION.NAME_PLACEHOLDER' | translate"
                aria-required="true"
                [attr.aria-invalid]="
                  name.invalid &&
                  (name.dirty || name.touched || contactForm.submitted)
                "
                required
              />
              <div
                class="validation-message"
                *ngIf="
                  name.invalid &&
                  (name.dirty || name.touched || contactForm.submitted)
                "
              >
                <span *ngIf="name.errors?.['required']">{{
                  "CONTACT_SECTION.VALIDATION_NAME_REQUIRED" | translate
                }}</span>
                <span *ngIf="name.errors?.['minlength']">{{
                  "CONTACT_SECTION.VALIDATION_NAME_MINLENGTH" | translate
                }}</span>
              </div>
            </div>
            <div
              class="email-box data-box"
              [class.invalid]="
                email.invalid &&
                (email.dirty || email.touched || contactForm.submitted)
              "
            >
              <span class="question-text">{{
                "CONTACT_SECTION.EMAIL" | translate
              }}</span>
              <input
                #email="ngModel"
                [(ngModel)]="contactData.email"
                (ngModelChange)="handleFormChange()"
                class="answer-text text"
                type="email"
                id="email"
                name="email"
                placeholder="youremail&#64;email.com"
                aria-required="true"
                [attr.aria-invalid]="
                  email.invalid &&
                  (email.dirty || email.touched || contactForm.submitted)
                "
                required
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
              />
              <div
                class="validation-message"
                *ngIf="
                  email.invalid &&
                  (email.dirty || email.touched || contactForm.submitted)
                "
              >
                <span *ngIf="email.errors?.['required']">{{
                  "CONTACT_SECTION.VALIDATION_EMAIL_REQUIRED" | translate
                }}</span>
                <span *ngIf="email.errors?.['pattern']">{{
                  "CONTACT_SECTION.VALIDATION_EMAIL_FORMAT" | translate
                }}</span>
              </div>
            </div>
            <div
              class="message-box data-box"
              [class.invalid]="
                message.invalid &&
                (message.dirty || message.touched || contactForm.submitted)
              "
            >
              <span class="question-text">{{
                "CONTACT_SECTION.HELP" | translate
              }}</span>

              <textarea
                #message="ngModel"
                [(ngModel)]="contactData.message"
                (ngModelChange)="handleFormChange()"
                class="message-text text"
                name="message"
                id="message"
                minlength="10"
                [placeholder]="'CONTACT_SECTION.HELP_PLACEHOLDER' | translate"
                aria-required="true"
                [attr.aria-invalid]="
                  message.invalid &&
                  (message.dirty || message.touched || contactForm.submitted)
                "
                required
              ></textarea>
            </div>
            <div
              class="validation-message"
              *ngIf="
                message.invalid &&
                (message.dirty || message.touched || contactForm.submitted)
              "
            >
              <span *ngIf="message.errors?.['required']">{{
                "CONTACT_SECTION.VALIDATION_MESSAGE_REQUIRED" | translate
              }}</span>
              <span *ngIf="message.errors?.['minlength']">{{
                "CONTACT_SECTION.VALIDATION_MESSAGE_MINLENGTH" | translate
              }}</span>
            </div>
          </div>

          <div class="read-policy-box">
            <input
              #privacyPolicy="ngModel"
              class="check-box"
              type="checkbox"
              id="privacyPolicy"
              name="privacyPolicy"
              [(ngModel)]="contactData.acceptedPolicy"
              (ngModelChange)="handleFormChange()"
              aria-required="true"
              [attr.aria-invalid]="
                privacyPolicy.invalid &&
                (privacyPolicy.dirty ||
                  privacyPolicy.touched ||
                  contactForm.submitted)
              "
              required
            />

            <span class="policy-text"
              >{{ "CONTACT_SECTION.POLICY_TEXT_1" | translate }}
              <a class="policy" [routerLink]="['privacy-policy']">{{
                "CONTACT_SECTION.PRIVACY_POLICY" | translate
              }}</a
              >{{ "CONTACT_SECTION.POLICY_TEXT_2" | translate }}</span
            >
          </div>
          <button class="send-btn" type="submit" value="Submit">Send</button>
          <div class="select-btn-box">
            <span class="error-text" *ngIf="errorMessage" style="color: red">
              {{ "CONTACT_SECTION.ERROR_MESSAGE" | translate }}
            </span>
            <span class="valid-text" *ngIf="messageSend">{{
              "CONTACT_SECTION.SEND_MESSAGE" | translate
            }}</span>
          </div>
        </form>

        <!-- #endregion Formular -->
      </div>
    </div>
  </div>
</section>
