// #region hand-icon-effect
@mixin hand-icon($selector) {
  #{$selector} {
    position: absolute;
    top: -40px;
    right: 0;
    transform: rotate(-100deg);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  @keyframes wave-in {
    0% {
      transform: rotate(-100deg);
    }
    10% {
      transform: rotate(-90deg);
    }
    20% {
      transform: rotate(-80deg);
    }
    30% {
      transform: rotate(-70deg);
    }
    40% {
      transform: rotate(-50deg);
    }
    50% {
      transform: rotate(-20deg);
    }
    60% {
      transform: rotate(0deg);
    }
    70% {
      transform: rotate(-10deg);
    }
    80% {
      transform: rotate(-15deg);
    }
    90% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes wave-out {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-100deg);
    }
  }

  &.is-hover:hover,
  &:hover {
    #{$selector} {
      opacity: 1;
      top: -40px;
      left: calc(100% - 0.8rem - 3rem);
      animation: wave-in 0.6s ease forwards;
    }
  }
  &:not(:hover) {
    #{$selector} {
      animation: wave-out 0.6s ease forwards;
    }
  }
}
// #endregion hand-icon-effect

@mixin bg-animation {
  background-color: #0e1013;
  transition: background-color 0.6s ease;

  &:hover {
    background-color: #3355ff;
  }
}

// #region button-witdh-effect
@mixin button-width-effect {
  @keyframes bumpIn {
    0% {
      width: 14.5rem;
    }
    60% {
      width: 21.8rem;
    }
    60% {
      width: 21.6rem;
    }
    80% {
      width: 21.5rem;
    }
    90% {
      width: 21.6rem;
    }
    100% {
      width: 21.8rem;
    }
  }

  @keyframes bumpOut {
    0% {
      width: 21.8rem;
    }
    60% {
      width: 14.5rem;
    }
    80% {
      width: 14rem;
    }
    90% {
      width: 14.2rem;
    }
    100% {
      width: 14.5rem;
    }
  }

  &:hover {
    animation: bumpIn 0.6s ease forwards;
  }
  &:not(:hover) {
    animation: bumpOut 0.6s ease forwards;
  }
}
// #endregion button-witdh-effect

// #region text-fading
@mixin text-fading {
  .text-default,
  .text-hover {
    position: absolute;
    left: 3rem;
    transition: opacity 0.4s ease;
    white-space: nowrap;
  }

  .text-hover {
    opacity: 0;
  }

  &:hover {
    text-transform: uppercase;
    background-position: right bottom;

    .text-default {
      opacity: 0;
    }
    .text-hover {
      opacity: 1;
    }
  }
}
// #endregion text-fading
