@mixin draw-animation-reverse-once($name, $cutDirection, $seconds) {
  animation: #{$name} $seconds linear 1 forwards;

  @if $cutDirection == right {
    @keyframes #{$name} {
      0% {
        clip-path: inset(0 0 0 0);
      }
      100% {
        clip-path: inset(0 100% 0 0);
      }
    }
  } @else if $cutDirection == left {
    @keyframes #{$name} {
      0% {
        clip-path: inset(0 0 0 0);
      }
      100% {
        clip-path: inset(0 0 0 100%);
      }
    }
  } @else if $cutDirection == top {
    @keyframes #{$name} {
      0% {
        clip-path: inset(0 0 0 0);
      }
      100% {
        clip-path: inset(100% 0 0 0);
      }
    }
  } @else if $cutDirection == bottom {
    @keyframes #{$name} {
      0% {
        clip-path: inset(0 0 0 0);
      }
      100% {
        clip-path: inset(0 0 100% 0);
      }
    }
  }
}
