<ng-container *ngIf="project">
  <section>
    <div class="container">
      <div class="content">
        <!--#region Routes to previous project -->
        <div class="go-back-box">
          <img
            class="draw-line-back-arrow"
            src="/assets/Design material/00_Hand-drawn lines/03_Portfolio/Breadcrumbs/Breadcrumb arrow 1.png"
            alt=""
          />
          <span [routerLink]="['/']" fragment="projects-section">Go Back</span>
        </div>
        <!--#endregion Routes to previous project -->

        <!-- #region information-content -->
        <div class="explain-content">
          <div class="text-content">
            <div class="title">
              <h1>{{ project.title | translate }}</h1>
            </div>
            <div>
              <div class="description-box box">
                <h3>{{ "projects.TITLE_DESCRIPTON" | translate }}</h3>
                <p>{{ project.teaser_text | translate }}</p>
              </div>
              <div class="details-box box">
                <h3>{{ "projects.TITLE_DETAILS" | translate }}</h3>
                <p>{{ project.details | translate }}</p>
              </div>
              <div class="duration-bo box">
                <span>
                  <strong>{{ "projects.DURATION" | translate }}</strong
                  >5 {{ "projects.WEEKS" | translate }}</span
                >
              </div>

              <!-- #region shows-tech-icons -->
              <div class="tech-icons-box">
                <img
                  class="icon"
                  src="/assets/icons/skill-icons/css-icon.png"
                  alt=""
                />
                <span>CSS</span>
                <img
                  class="icon"
                  src="/assets/icons/skill-icons/html-icon.png"
                  alt=""
                />
                <span>HTML</span>
                <img
                  class="icon"
                  src="/assets/icons/skill-icons/firebase-icon.png"
                  alt=""
                />
                <span>Firebase</span>
                <img
                  class="icon"
                  src="/assets/icons/skill-icons/angular-icon.png"
                  alt=""
                />
                <span>Angular</span>
                <img
                  class="icon"
                  src="/assets/icons/skill-icons/typeScript-icon.png"
                  alt=""
                />
                <span>TypeScript</span>
              </div>
              <!-- #endregion shows-tech-icons -->
            </div>
          </div>

          <!-- #region image-content -->
          <div class="image-content">
            <img
              class="project-image"
              [src]="project.image"
              [alt]="project.title"
            />
            <div class="button-box">
              <button
                type="button"
                (click)="openBtnLink(project.gitHub_Link)"
                class="gitHub-btn"
              >
                GitHub
              </button>
              <button class="live-test-btn">Live Test</button>
            </div>
          </div>
          <!-- #endregion image-content -->
        </div>
        <!-- #endregion information-content -->

        <!-- Routes to next Project -->
        <div class="go-next-box">
          <span>Next Project</span>
          <img
            class="draw-line-next-arrow"
            src="/assets/Design material/00_Hand-drawn lines/03_Portfolio/Breadcrumbs/Next project arrow 1.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
</ng-container>
