<div class="container">
  <header>
    <div class="logo-box">
      <img src="/assets/icons/logo_1.png" alt="" />
    </div>
    <div>
      <ul>
        <li>
          <a href="#about-me-section">About me</a>
        </li>
        <li>
          <a href="#skill-set-section">Skills</a>
        </li>
        <li>
          <a href="">Projects</a>
        </li>
        <li>
          <a href="">Contact</a>
        </li>
      </ul>
    </div>
    <div class="language-box">
      <span>EN</span>
      <img src="/assets/icons/switch-icon.png" alt="" />
      <span>DE</span>
    </div>
  </header>
</div>
