@use "../../../../public/styles/all-styles.scss" as *;

:host {
  position: sticky;
  top: 0;
  z-index: 100;
  display: block;
  background-color: rgba(14, 16, 19, 0.5);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 2rem;

  .logo-box {
    .logo_1 {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }

    .logo_2 {
      position: absolute;
      left: 0;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
    &:hover {
      .logo_1 {
        opacity: 0;
      }
      .logo_2 {
        opacity: 1;
      }
    }
  }

  ul {
    display: flex;
    gap: 25rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 120%;

    a {
      color: #f8f9fa;
    }

    // #region each link style
    .about-me-link {
      .about-me-draw-line {
        @include draw-image(10.5rem, 4.2rem, -7px, -10px);
      }

      .draw-forward {
        opacity: 1;
        @include draw-animation-once(draw-line, bottom, 2.5s, true);
      }

      .draw-reverse {
        opacity: 1;
        @include draw-animation-reverse-once(draw-line-reverse, bottom, 0.25s);
      }
    }

    .skills-link {
      .skill-draw-line {
        @include draw-image(6.8rem, 4.2rem, -10px, -10px);
      }

      .draw-forward {
        opacity: 1;
        @include draw-animation-once(draw-skill-line, right, 2.5s, true);
      }

      .draw-reverse {
        opacity: 1;
        @include draw-animation-reverse-once(
          draw-skill-line-reverse,
          right,
          0.25s
        );
      }
    }

    .projects-link {
      .project-draw-line {
        @include draw-image(9rem, 4.2rem, -10px, -10px);
      }
      .draw-forward {
        opacity: 1;
        @include draw-animation-once(draw-skill-line, right, 2.5s, true);
      }

      .draw-reverse {
        opacity: 1;
        @include draw-animation-reverse-once(
          draw-skill-line-reverse,
          right,
          0.25s
        );
      }
    }

    .contact-link {
      .contact-draw-line {
        @include draw-image(10.5rem, 4.2rem, -20px, -10px);
      }
      .draw-forward {
        opacity: 1;
        @include draw-animation-once(draw-skill-line, right, 2.5s, true);
      }

      .draw-reverse {
        opacity: 1;
        @include draw-animation-reverse-once(
          draw-skill-line-reverse,
          right,
          0.25s
        );
      }
    }

    // #endregion each link style
  }

  .language-switch-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.6rem;
  }
}
