<div class="container">
  <header>
    <div class="logo-box">
      <img src="/assets/icons/logo_1.png" alt="" />
    </div>
    <div>
      <ul>
        <li
          class="about-me-link"
          (mouseenter)="onMouseEnter()"
          (mouseleave)="onMouseLeave()"
        >
          <a href="#about-me-section">About me</a>
          <img
            class="about-me-draw-line"
            src="/assets/Design material/00_Hand-drawn lines/00_Header/Color option 1/1.png"
            alt=""
            [class.draw-forward]="isHovering()"
            [class.draw-reverse]="!isHovering() && hasHovered()"
            (animationend)="onAnimationEnd($event)"
          />
        </li>
        <li>
          <a href="#skill-set-section">Skills</a>
        </li>
        <li>
          <a href="">Projects</a>
        </li>
        <li>
          <a href="">Contact</a>
        </li>
      </ul>
    </div>
    <div class="language-switch-box">
      <span>EN</span>
      <img src="/assets/icons/switch-icon.png" alt="" />
      <span>DE</span>
    </div>
  </header>
</div>
