/* You can add global styles to this file, and also import other style files */

/* Bricolage Grotesque */
@import "@fontsource/bricolage-grotesque/400.css";
@import "@fontsource/bricolage-grotesque/700.css";

/* Kalam */
@import "@fontsource/kalam/400.css";
@import "@fontsource/kalam/700.css";

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Bricolage Grotesque", sans-serif;
  background-color: #0e1013;
  color: #f8f9fa;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
