<div class="card">
  <div class="image-box">
    <img [src]="project().image" [alt]="project().title" loading="lazy" />
    <button
      class="project-details"
      [routerLink]="['/projects', project().slug]"
    >
      Project details
    </button>
  </div>
  <h3 class="card_title">{{ project().title | translate }}</h3>
  <p class="teaser_text">{{ project().teaser_text | translate }}</p>

  <button
    class="project-details-mobile"
    [routerLink]="['/projects', project().slug]"
  >
    Project details
  </button>
</div>
