<section class="header-section">
  <div class="container header-content">
    <div class="header">
      <h1>{{ "LEGAL_NOTICE.HEADER" | translate }}</h1>
    </div>
  </div>
</section>

<section class="notice-section">
  <div class="container">
    <div
      class="go-back-box-mobile"
      [routerLink]="['/']"
      fragment="contact-section"
    >
      <img
        class="draw-line-back-arrow"
        src="assets/Design material/00_Hand-drawn lines/03_Portfolio/Breadcrumbs/Breadcrumb arrow 1.png"
        alt=""
      />
      <span>{{ "projects.GO_BACK" | translate }}</span>
    </div>

    <div class="notice-content box">
      <div class="students-list">
        <h3>{{ "LEGAL_NOTICE.IMPRINT_TITLE" | translate }}</h3>
        <ul>
          <li>
            <span>{{ "LEGAL_NOTICE.IMPRINT_STUDENTS" | translate }}</span>
          </li>
          <li>
            <span>{{ "LEGAL_NOTICE.IMPRINT_ADDRESS" | translate }}</span>
          </li>
          <li>
            <span>{{ "LEGAL_NOTICE.IMPRINT_CITY" | translate }}</span>
          </li>
        </ul>
      </div>

      <div>
        <h3>{{ "LEGAL_NOTICE.EXPLORING_TITLE" | translate }}</h3>
        <span>{{ "LEGAL_NOTICE.EXPLORING_EMAIL" | translate }}</span>
      </div>

      <div class="acceptance-box box">
        <h3>{{ "LEGAL_NOTICE.ACCEPTANCE_TITLE" | translate }}</h3>
        <p>{{ "LEGAL_NOTICE.ACCEPTANCE_TEXT" | translate }}</p>
      </div>

      <div class="ownership-box box">
        <h3>{{ "LEGAL_NOTICE.SCOPE_TITLE" | translate }}</h3>
        <p>{{ "LEGAL_NOTICE.SCOPE_TEXT_1" | translate }}</p>
        <p>{{ "LEGAL_NOTICE.SCOPE_TEXT_2" | translate }}</p>
      </div>

      <div class="rights-box box">
        <h3>{{ "LEGAL_NOTICE.RIGHTS_TITLE" | translate }}</h3>
        <p>{{ "LEGAL_NOTICE.RIGHTS_TEXT" | translate }}</p>
      </div>

      <div class="product-use-box box">
        <h3>{{ "LEGAL_NOTICE.USE_TITLE" | translate }}</h3>
        <p>{{ "LEGAL_NOTICE.USE_TEXT" | translate }}</p>
      </div>

      <div class="disclaimer-box box">
        <h3>{{ "LEGAL_NOTICE.DISCLAIMER_TITLE" | translate }}</h3>
        <p>{{ "LEGAL_NOTICE.DISCLAIMER_TEXT" | translate }}</p>
      </div>

      <div class="indemnity box">
        <h3>{{ "LEGAL_NOTICE.INDEMNITY_TITLE" | translate }}</h3>
        <p>{{ "LEGAL_NOTICE.INDEMNITY_TEXT_1" | translate }}</p>
        <p>{{ "LEGAL_NOTICE.INDEMNITY_TEXT_2" | translate }}</p>
      </div>

      <div>
        <span>{{ "LEGAL_NOTICE.DATE" | translate }}</span>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
