@use "../../../../../public/styles/all-styles.scss" as *;
@use "../../../../../public/styles/responsive-points.scss" as *;

.PROJECTS_SECTION {
  background-color: #f8f9fa;
  color: #0e1013;
}

.projects-info-box {
  width: 100%;
  max-width: 56rem;
  height: 51.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;

  .projects-draw-line {
    width: 26rem;
    height: 2rem;
    bottom: 15px;
    @include draw-animation(draw-projects-line, right, $seconds: 8s);
  }

  .my-craft {
    font-size: 2rem;
  }

  .projects {
    font-size: 6.4rem;
    font-weight: 700;
  }

  .p-text {
    margin-top: 2.5rem;
    font-size: 1.8rem;
  }
}

.grid {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 1400px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@include mobile {
  .PROJECTS_SECTION {
    .grid {
      .projects-info-box {
        .my-craft {
          font-size: 1.8rem;
        }
        .projects {
          font-size: 4rem;
        }
        .p-text {
          font-size: 1.6rem;
        }
      }
    }
  }
}
