<section id="projects-section" class="PROJECTS_SECTION">
  <div class="container">
    <div class="grid">
      <div class="projects-info-box">
        <span class="my-craft">MY CRAFT</span>
        <h2 class="projects">
          {{ "PROJECTS_SECTION.PROJECTS_TITLE" | translate }}
        </h2>
        <img
          class="projects-draw-line"
          src="assets/Design material/00_Hand-drawn lines/03_Portfolio/Color option 1.png"
          alt=""
        />
        <p class="p-text">
          {{ "PROJECTS_SECTION.PROJECT_TEXT" | translate }}
        </p>
      </div>
      @for(p of projects; track p.slug){
      <app-project-card [project]="p"></app-project-card>
      }
    </div>
  </div>
</section>
