.projects {
  background-color: #f8f9fa;
  color: #0e1013;
}

.projects-info-box {
  width: 56rem;
  height: 51.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;

  .my-craft {
    font-size: 2rem;
  }

  .projects {
    font-size: 6.4rem;
    font-weight: 700;
  }

  .p-text {
    margin-top: 5rem;
    font-size: 1.8rem;
  }
}

.grid {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
}
@media (min-width: 900px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
