@use "../../../../public/styles/all-styles.scss" as *;
@use "../../../../public/styles/responsive/breakpoints.scss" as *;

header {
  position: fixed;
  top: 0;
  z-index: 500;
  background-color: rgba(14, 16, 19, 0.5);
  width: 100%;
  height: auto;

  .content {
    @include display-flex(row, space-between, center);
    padding: 2rem 2rem;
    .logo-box {
      .logo_1 {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }

      .logo_2 {
        position: absolute;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }
      &:hover {
        .logo_1 {
          opacity: 0;
        }
        .logo_2 {
          opacity: 1;
        }
      }
    }

    a {
      font-size: 1.8rem;
      color: var(--color-white);
    }

    // #region Header-links-style
    .about-me-link {
      .about-me-draw-line {
        @include draw-image(10.5rem, 4.2rem, -7px, -10px);
      }

      .draw-forward {
        opacity: 1;
        @include draw-animation-once(draw-line, bottom, 2.5s, true);
      }

      .draw-reverse {
        opacity: 1;
        @include draw-animation-reverse-once(draw-line-reverse, bottom, 0.25s);
      }
    }

    .skills-link {
      .skill-draw-line {
        @include draw-image(6.8rem, 4.2rem, -10px, -10px);
      }

      .draw-forward {
        opacity: 1;
        @include draw-animation-once(draw-skill-line, right, 2.5s, true);
      }

      .draw-reverse {
        opacity: 1;
        @include draw-animation-reverse-once(
          draw-skill-line-reverse,
          right,
          0.25s
        );
      }
    }

    .projects-link {
      .project-draw-line {
        @include draw-image(9rem, 4.2rem, -10px, -10px);
      }
      .draw-forward {
        opacity: 1;
        @include draw-animation-once(draw-skill-line, right, 2.5s, true);
      }

      .draw-reverse {
        opacity: 1;
        @include draw-animation-reverse-once(
          draw-skill-line-reverse,
          right,
          0.25s
        );
      }
    }

    .contact-link {
      .contact-draw-line {
        @include draw-image(10.5rem, 4.2rem, -20px, -10px);
      }
      .draw-forward {
        opacity: 1;
        @include draw-animation-once(draw-skill-line, right, 2.5s, true);
      }

      .draw-reverse {
        opacity: 1;
        @include draw-animation-reverse-once(
          draw-skill-line-reverse,
          right,
          0.25s
        );
      }
    }

    // #endregion Header-links-style

    // language-switch-style
    .language-switch-box {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      font-size: 1.6rem;

      span {
        cursor: pointer;
        transition: color 0.3s ease;

        .toggle-line {
          position: absolute;
          width: 3.2rem;
          height: 3.2rem;
          left: 50%;
          bottom: -7px;
          transform: translateX(-50%);
          opacity: 0;
          transition: opacity 0.3s ease;
          pointer-events: none;
        }

        &.inactive:hover .toggle-line {
          opacity: 1;
          @include draw-animation-once(draw-swicht-line, left, 2.5s, true);
        }

        &.active {
          color: var(--color-red);
          pointer-events: none;
        }
      }
    }

    .burger-button {
      display: none;
      border: none;
      background: transparent;
      padding: 0;
      width: 4rem;
      height: 4rem;
      cursor: pointer;
      position: relative;

      .burger-icon {
        width: 100%;
        height: auto;
        display: block;
        transition: opacity 0.2s ease;
      }

      .burger-close-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2.6rem;
        height: 2.6rem;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.2s ease;

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: var(--color-white);
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }

      &.is-open {
        .burger-icon {
          opacity: 0;
        }
        .burger-close-icon {
          opacity: 1;
        }
      }
    }
  }
}

.switch-icon-box {
  position: relative;
  width: 3.2rem;
  height: 0.8rem;
  display: inline-block;

  .switch-bar {
    width: 100%;
    height: 100%;
    display: block;
  }
  .switch-point {
    position: absolute;
    left: 0;
    bottom: -5px;
    z-index: 1;
    transition: left 0.35s ease-in-out;
    pointer-events: none;
  }

  &.lang-de .switch-point {
    left: calc(100% - 1.5rem);
  }

  &.lang-en .switch-point {
    left: 0;
  }
}

@include mobile {
  header {
    width: 100%;

    .content {
      .about-me-link {
        display: none;
      }
      .skills-link {
        display: none;
      }
      .projects-link {
        display: none;
      }
      .contact-link {
        display: none;
      }
      .language-switch-box {
        display: none;
      }
      .burger-button {
        display: flex;
      }
    }

    .mobile-menu {
      position: fixed;
      inset: 0;
      z-index: 600;
      background-image: url("../../../../public/assets/Design material/01_Background/Design Size Relation@3x/01_Hero_1.png");
      background-size: cover;
      background-position: center;

      display: flex;
      justify-content: center;
      overflow: hidden;
      &__inner {
        width: 100%;
        padding: 2rem 2rem;
        @include display-flex(column, space-between, stretch);
        height: auto;
        gap: 3rem;
      }

      // #region close-btn
      &__close {
        width: 3rem;
        height: 3rem;
        border: none;
        background: transparent;
        position: relative;
        cursor: pointer;

        span {
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: var(--color-white);
        }

        span:first-child {
          transform: rotate(45deg);
        }

        span:last-child {
          transform: rotate(-45deg);
        }
      }
      // #endregion close-btn
      &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &__middle {
        @include display-flex(column, center, stretch);
        gap: 4rem;
      }

      &__links {
        @include display-flex(column, center, center);
        gap: 2.4rem;

        a {
          font-size: 2.4rem;
          letter-spacing: 0.05em;
          color: var(--color-white);
        }
      }

      // #region language-switch-bar
      &__language {
        display: flex;
        justify-content: center;

        font-size: 2.4rem;

        .language-switch-box {
          @include display-flex(row, space-between, center);
          gap: 1rem;
          span {
            .toggle-line {
              position: absolute;
              inset: 0;
              width: 3.2rem;
              height: 3.2rem;
              opacity: 0;
              pointer-events: none;
            }

            &.inactive:active .toggle-line {
              opacity: 1;
              @include draw-animation-once(draw-swicht-line, left, 2.5s, true);
            }

            &.active {
              color: var(--color-red);
              pointer-events: none;
            }
          }
        }
      }
      // #endregion language-switch-bar

      &__bottom {
        @include display-flex(row, center, center);
        margin-bottom: 15rem;

        .social-icon-box {
          @include display-flex(row, center, stretch);
          gap: 2rem;

          .social-icon {
            border: 0.1rem solid var(--color-white);
            border-radius: 4rem;
            padding: 0.5rem;

            background-image: linear-gradient(
              var(--color-blue),
              var(--color-blue)
            );
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: 100% 0%;
            transition: background-size 0.1s ease;
          }
          .social-icon:active {
            background-size: 100% 100%;
          }
        }
      }
    }
  }
}
