@use "../../../../public/styles/all-styles.scss" as *;
@use "../../../../public/styles/responsive-points.scss" as *;

section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../../../../public/assets/Design material/01_Background/Design Size Relation@3x/01_Hero_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position: bottom center;
  background-color: var(--color-white);

  .content {
    width: 100%;
    height: 100%;
    @include display-flex(column, center, center);

    .image-box {
      position: absolute;
      top: -10%;
      right: 10%;
      width: 20.3rem;
      height: 24.4rem;
      transform: rotate(7.5deg);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      p {
        position: absolute;
        bottom: 1rem;
        left: 30%;
        color: var(--color-dark);
        font-size: 2.4rem;
        font-family: "Kalam", sans-serif;
        font-weight: 700;
      }
    }

    .image-box-2 {
      display: none;
      width: 20.3rem;
      height: 24.4rem;
      transform: rotate(7.5deg);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        bottom: 0;
      }

      p {
        position: absolute;
        bottom: 1rem;
        left: 30%;
        color: var(--color-dark);
        font-size: 2.4rem;
        font-family: "Kalam", sans-serif;
        font-weight: 700;
      }
    }

    .title-box {
      width: 100%;
      max-width: 95rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .title-word {
        font-weight: 700;
        font-size: 12.8rem;
        text-align: start;
        transition: all 0.8s ease;
      }

      .DEVELOPER {
        margin-left: auto;
      }

      .frontend .letter:first-child:hover {
        text-transform: lowercase;
      }

      .frontend .letter:hover {
        text-transform: uppercase;
        color: var(--color-yellow);
      }

      .DEVELOPER .letter:hover {
        text-transform: lowercase;
        color: var(--color-yellow);
      }

      div:last-of-type {
        margin-left: auto;
      }

      .hello-world-btn {
        position: relative;
        font-size: 1.8rem;
        @include button-layout(
          $bg-color: var(--color-dark),
          $color: var(--color-white),
          $b-color: var(--color-white)
        );
        @include bg-animation();
        @include text-fading();
        @include hand-icon(".hand-img");
        @include button-width-effect();
      }

      .get-in-touch-btn {
        font-size: 1.8rem;
        @include press-button(
          $bg-color: var(--color-dark),
          $bs-color: var(--color-white),
          $color: var(--color-white),
          $b-color: var(--color-white)
        );
      }
    }

    @include notebook {
      .title-box {
        width: 100%;
        max-width: 60rem;

        .title-word {
          font-size: 10rem;
        }
      }
    }
    @include tablet {
      .title-box {
        width: 100%;
        max-width: 50rem;
        .title-word {
          font-size: 6rem;
        }
      }
    }

    .social-icon-box {
      position: absolute;
      bottom: 15%;
      left: 25%;

      display: flex;
      flex-direction: column;
      gap: 1rem;
      .social-icon {
        border: 0.1rem solid var(--color-white);
        border-radius: 4rem;
        padding: 0.5rem;
        width: 3.2rem;
        height: 3.2rem;

        background-image: linear-gradient(var(--color-blue), var(--color-blue));
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100% 0%;
        transition: background-size 0.1s ease;
      }

      .social-icon:hover {
        background-size: 100% 100%;
      }
    }

    @include notebook {
      .image-box {
        display: none;
      }
      .image-box-2 {
        display: block;
        bottom: -150px;
        left: 50px;
      }
    }

    @include mobile {
      .title-box {
        width: 100%;
        max-width: 25rem;

        .title-word {
          font-size: 4.5rem;
        }
      }
      .image-box-2 {
        bottom: -50px;
        left: 5%;
      }
      .social-icon-box {
        display: none;
      }
    }
  }
}
