/* Bricolage Grotesque */
@import "@fontsource/bricolage-grotesque/400.css";
@import "@fontsource/bricolage-grotesque/500.css";
@import "@fontsource/bricolage-grotesque/700.css";

/* Kalam */
@import "@fontsource/kalam/400.css";
@import "@fontsource/kalam/700.css";

// Gloabal Color-Styles
:root {
  --color-white: #f8f9fa;
  --color-dark: #0e1013;
  --color-yellow: #f7c518;
  --color-blue: #3355ff;
  --color-red: #f87a55;
}

* {
  position: relative;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Bricolage Grotesque", sans-serif;
  background-color: var(--color-dark);
  color: var(--color-white);
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
