<section>
  <div class="title-box">
    <div class="image-box">
      <img
        src="/assets/Design material/03_Stickers/Polaroid Frame.png"
        alt=""
      />
      <p>Henry :)</p>
    </div>
    <div>
      <button
        (mouseenter)="onHover()"
        (mouseleave)="onLeave()"
        class="hello-world-btn"
      >
        {{ buttonText }}
      </button>
    </div>
    <p>Frontend</p>
    <p>Developer</p>
    <div><button class="get-in-touch-btn">Get in Touch</button></div>
  </div>
</section>
