@use "../../../../public/styles/all-styles.scss" as *;

section {
  width: 100%;
  height: 100vh;
  background-image: url("/assets/Design material/01_Background/Design Size Relation@3x/01_Hero_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .title-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .image-box {
      position: absolute;
      top: -5rem;
      right: 10%;
      width: 20rem;
      height: 24rem;
      transform: rotate(7.5deg);
      img {
        width: 100%;
        height: 100%;
      }
      p {
        position: absolute;
        bottom: 1rem;
        left: 30%;
        color: black;
        font-size: 2.4rem;
        font-weight: 700;
      }
    }

    .title-word {
      font-weight: 700;
      font-size: 12.8rem;
      text-align: start;
      transition: all 0.8s ease;
    }
    .DEVELOPER {
      margin-left: auto;
    }

    .frontend .letter:first-child:hover {
      text-transform: lowercase;
    }

    .frontend .letter:hover {
      text-transform: uppercase;
      color: #f7c518;
    }

    .DEVELOPER .letter:hover {
      text-transform: lowercase;
      color: #f7c518;
      transition: all 0.8s ease;
    }

    div:last-of-type {
      margin-left: auto;
    }

    .hello-world-btn {
      position: relative;
      @include button-layout();
      @include bg-animation();
      @include text-fading();
      @include hand-icon(".hand-img");
      @include button-width-effect();
    }

    .get-in-touch-btn {
      @include button-layout();
      cursor: pointer;
    }
  }
}
