<section>
  <div class="title-box">
    <div class="image-box">
      <img src="assets/Design material/03_Stickers/Polaroid Frame.png" alt="" />
      <p>Henry :)</p>
    </div>
    <div>
      <button
        class="hello-world-btn"
        (mouseenter)="helloWorldHovered = true"
        (mouseleave)="helloWorldHovered = false"
        [ngClass]="{ hovered: helloWorldHovered }"
      >
        <span class="text-default">Hello world</span>
        <span class="text-hover">I’m Henry Wolf</span>
        <img
          class="hand-img"
          src="assets/Design material/04_Icons/waving_hand.png"
        />
      </button>
    </div>
    <p class="frontend title-word">
      @for(letter of frontendLetters; track $index){
      <span class="letter">{{ letter }}</span
      >}
    </p>
    <p class="DEVELOPER title-word">
      @for(letter of developerLettersBig; track $index){
      <span class="letter">{{ letter }}</span
      >}
    </p>
    <div><button class="get-in-touch-btn">Get in Touch</button></div>
  </div>
  <div class="social-icon-box">
    <img class="social-icon" src="/assets/icons/in.png" alt="" />
    <img class="social-icon" src="/assets/icons/git-hub.png" alt="" />
    <img class="social-icon" src="/assets/icons/mail.png" alt="" />
  </div>
</section>
